{% extends "base.twig" %}
{% block content %}

<div class="block-hero uk-section uk-section-large uk-padding-remove-top uk-background-cover  uk-position-relative" style="background-image: url('{{ post.meta('hero-bg') }}')">
	<div class="uk-container uk-container-small uk-text-center uk-light uk-position-relative">
		<img src="{{ theme.link }}/assets/img/logo.svg" alt="fishliget logo white" class="uk-margin-large-top uk-margin-bottom" uk-img>
		<h1 class="uk-text-uppercase">{{ post.meta('hero-title') }}</h1>
		<p class="uk-text-large">{{ post.meta('hero-description') }}</p>
		<a href="{{ post.meta('hero-button').url }}" class="uk-button uk-button-default uk-margin-medium-top">{{ post.meta('hero-button').title }}</a>
	</div>
</div>



{% endblock %}